.detail-container {
  font-family: Arial, sans-serif;
  color: #333;
}

.header-container {
  width: 100%;
  height: 300px;
}

.header-inner {
  width: 100%;           
  max-width: 1200px;      
  height: 300px;          
  margin: 0 auto;        
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;  
}

.header-overlay {
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.1);
}

.detail-title {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 50px;
  text-align: center;
  color: white;
}

.overview-text {
  max-width: 80%;
  text-align: left;
  margin: 0 20px;
  padding-top: 30px;
  color: white;
}

.card-container {
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 1200px;
  overflow: hidden;
  background-color: #fff;
}

.card-head {
  text-align: center;
  background-color: var(--theme-color) !important;
  color: white;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.card-head h2 {
  margin: 0;
  font-size: 1.4rem;
}

/* .attractions-card .card-body {
  padding: 10px 20px !important;
}
 */
.attractions-card .card-head {
  background-color: #d2e5e2;
}

.attraction-item {
  margin-bottom: 10px;
}

.travel-tips-card .card-head {
  background-color: #d2e5e2; 
}

.travel-tips-card .card-body {
  padding: 0;
}

.tips-wrapper {
  display: flex;
  margin: 0;
  height: 200px;;
}

.tips-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid #ddd;
  width: 30%;
  text-align: center;
}

.tips-menu ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  height: 100%;
}

.tips-menu li {
  display: flex;
  height: 50px;
  align-items: center;         
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.tips-menu li.active {
  background-color: #e0e0e0;
  font-weight: bold;
}

.tips-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
