.album-container {
  max-width: 1200px;
  margin: 0 auto; 
  width: 100%;
}

main {
  background-color: #FFEBCD;
}

section {
  max-width: 1000px;
  margin-top:20px;
  padding-bottom: 40px;
}


h2 {
  font-size: 1.5rem;
}



