.destination-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  flex-wrap: nowrap;
}

.top-container .filter-container {
  display: flex;
  gap: 20px;
  max-width: 50%; 
  flex-wrap: nowrap;
}

.top-container .filter-container span {
  cursor: pointer;
  font-size: 16px;
  color: #343030;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 2px;
}

.top-container .filter-container .active {
  color: var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
}


.top-container .search-container {
  max-width: 250px;
  display: flex;
  position: relative;
  align-items: center;
}

.top-container .search-input {
  padding:10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

.top-container .search-icon {
  position: absolute;
  right: 5px;
  padding: 12px;
  font-size: 1.2rem;
  color: grey;
  border: none;
  cursor: pointer;
}

.category-options {
  display: flex;
  justify-content: flex-start; 
  gap: 10px; 
  margin-top: 10px;
  margin-bottom: 20px;
}

.category-options button {
  padding: 4px 8px;
  border: 2px solid var(--theme-color);
  border-radius: 25px; 
  background: transparent;
  color: var(--theme-color);
  font-size: 14px; 
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.category-options button:hover {
  background: var(--theme-color);
  color: white;
}

.category-options button.active {
  background: var(--theme-color);
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.destination-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.destination-card {
  position: relative;
  flex: 1 1 calc(25% - 20px); 
  min-width: 200px; 
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
}

.destination-card:hover {
  transform: translateY(-5px); 
}

.destination-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.destination-content {
  padding: 10px;
  text-align: left;
  padding-bottom: 50px;
}

.destination-content .destination-name {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  margin: 8px 0;
  color: #333;
}

.destination-content .destination-example {
  font-size: 0.9rem;
  color: #666;
  margin: 5px 0;
}

.find-more-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: block;
  margin-top: 10px;
  padding: 5px 8px;
  background: var(--theme-color);
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

.find-more-button:hover {
  background: var(--theme-color-hover);
}

@media (max-width: 768px) {
  .destination-card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .destination-card {
    flex: 1 1 calc(100% - 20px);
  }

  .top-container {
    flex-wrap: wrap; 
  }

  .top-container .search-container {
    max-width: 50%; 
    width: 50%;
    margin-left: 0; 
    margin-top: 10px; 
  }
}

