.route-detail-page {
  max-width: 1000px;
  margin: 20px auto;
  background-color: #fff;
}

.image-section {
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4px;
}

.left-image img, .small-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.right-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px;
  position: relative;
}

.small-image {
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

tab-section {
  background-color: #fff;
  padding: 10px 0;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.react-tabs__tab-list {
  font-weight: bold;
  display: flex;
}

.react-tabs__tab {
  font-size: 1.1rem;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 4px;
}

.react-tabs__tab--selected {
  background-color: var(--theme-color); 
  color: #fff;                    
}

.react-tabs__tab-panel {
  padding: 15px;
  line-height: 2;
  color: #444;
  background-color: #fff;
  border-radius: 0 0 6px 6px;
}