/* 容器整体样式 */
.routes-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.page-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

/* 单条路线卡片 */
.route-card {
  display: flex;                 
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.2s;
}

.route-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* 左侧图片容器 */
.route-image-container {
  width: 300px;       
  min-width: 200px;   
  height: 200px;    
  overflow: hidden;
}

.route-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* 右侧文字区域 */
.route-content {
  flex: 1;         
  padding: 20px;
  text-align: left;   
  cursor: pointer;
}

.route-title {
  font-size: 1.3rem;
  color: #444;
  display: inline-block;
  position: relative;
  transition: color 0.3s ease;
}

.route-title::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #6d6969;
  transition: width 0.3s ease;
}

.route-content:hover .route-title {
  color:var(--theme-color);
}

.route-content:hover .route-title::after {
  width: 100%;
}


.route-subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

/* 响应式示例：小屏幕时上下结构 */
@media (max-width: 768px) {
  .route-card {
    flex-direction: column;
    height: auto;
  }

  .route-image-container {
    width: 100%;
    height: auto; 
  }
}
